#splashscreen {
	z-index:9999;
    position:relative;
    height:100vh;
    width:100%;
    background-color:white;
}
img.splashimage
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
}

img.splashimage:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.splashimage {
      max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  img.splashimage {
      max-height: 90%;
  }
}

.content
{
	/* fixed width on larger screens */ 
	max-width: 768px;
	
	/* centered */
	margin-left: auto;
	margin-right: auto;
	
	/* Remove padding */
	padding: 0 0;
}
.status-table
{
	/* full width with 1em margin (left, right and top) */
	table-layout: auto;
	margin: auto;
	margin-top: 1em;
	/*width: calc(100% - 2em);*/
}

.status-table-shedule
{
	/* full width with 1em margin (left, right and top) */
	table-layout: auto;
	margin: auto;
	margin-top: 1em;
}
.status-table td
{
	/* status tables nicely split in half */
	/*width: 50%;*/
}
 .button-custom-disabled
 {
	color: black;
	background: rgba(128, 167, 92, 0);
	cursor: not-allowed;
}
						
.button-custom-disabled:hover 
{
	color: black;
	background: rgba(128, 167, 92, 0);
	cursor: not-allowed;
}

td
{
    white-space:nowrap;
}
.shedule_check{
    margin-left:1em;
}
.col3{
	/*display:none;*/
}
.col4{
	/*display:none;*/
}
.col5{
	/*display:none;*/
}
.dot {
  height: 17px;
  width: 17px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

/*Mobile View*/
@media only screen and  (max-width: 760px) {

td, tr { display: block; }

/* Hide table headers (but not display: none;, for accessibility) */

thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

tr { border: 1px solid #000000; }

tr + tr { margin-top: 1.5em; }

td {
  /* make like a "row" */
  border: none;
  border-bottom: 1px solid #000;
  position: relative;
  padding-left: 50%;
  background-color: #F8D9D5;
  text-align: left;
}

td:before {
  content: attr(data-label);
  display: inline-block;
  line-height: 1.5;
  margin-left: -100%;
  width: 100%;
  white-space: nowrap;
}

#top_ext_table{
	margin-top:0.5em;
}
.pure-table{
	border: 0px solid;
}
.pure-table td{
	border-left: 0px solid;
	
}
.pure-table tr{
	border-radius : 2px;
}
}

	
							